# Kafka Connect'i burada docker-compose ile ayaga kaldiriyorum.
# Tek node yeterli ama case icin 2 worker koydum. Plugin klasoru de burada.
# Bootstrap server ip'sini terraform output'tan alip buraya yaziyorum.

version: "3"

services:
  connect:
    image: debezium/connect:2.5
    container_name: kafka-connect-1
    ports:
      - "8083:8083"
      - "7777:7777"
    environment:
      BOOTSTRAP_SERVERS: "192.168.56.10:9092,192.168.56.11:9092,192.168.56.12:9092,192.168.56.13:9092"
      GROUP_ID: "connect-cluster"
      CONFIG_STORAGE_TOPIC: "connect-configs"
      OFFSET_STORAGE_TOPIC: "connect-offsets"
      STATUS_STORAGE_TOPIC: "connect-status"
      KEY_CONVERTER: "org.apache.kafka.connect.json.JsonConverter"
      VALUE_CONVERTER: "org.apache.kafka.connect.json.JsonConverter"
      REST_PORT: 8083
      REST_ADVERTISED_HOST_NAME: "kafka-connect-1"
      CONFIG_STORAGE_REPLICATION_FACTOR: 3
      OFFSET_STORAGE_REPLICATION_FACTOR: 3
      STATUS_STORAGE_REPLICATION_FACTOR: 3
      PLUGIN_PATH: "/kafka/connect"
      KAFKA_JMX_PORT: "7777"
      KAFKA_OPTS: "-javaagent:/jmx-exporter/jmx_prometheus_javaagent-0.20.0.jar=7777:/jmx-exporter/connect.yml"
    volumes:
      - ./plugins:/kafka/connect
      - ./jmx-exporter:/jmx-exporter:ro

  connect2:
    image: debezium/connect:2.5
    container_name: kafka-connect-2
    ports:
      - "8084:8083"
      - "7778:7777"
    environment:
      BOOTSTRAP_SERVERS: "192.168.56.10:9092,192.168.56.11:9092,192.168.56.12:9092,192.168.56.13:9092"
      GROUP_ID: "connect-cluster"
      CONFIG_STORAGE_TOPIC: "connect-configs"
      OFFSET_STORAGE_TOPIC: "connect-offsets"
      STATUS_STORAGE_TOPIC: "connect-status"
      KEY_CONVERTER: "org.apache.kafka.connect.json.JsonConverter"
      VALUE_CONVERTER: "org.apache.kafka.connect.json.JsonConverter"
      REST_PORT: 8083
      REST_ADVERTISED_HOST_NAME: "kafka-connect-2"
      CONFIG_STORAGE_REPLICATION_FACTOR: 3
      OFFSET_STORAGE_REPLICATION_FACTOR: 3
      STATUS_STORAGE_REPLICATION_FACTOR: 3
      PLUGIN_PATH: "/kafka/connect"
      KAFKA_JMX_PORT: "7777"
      KAFKA_OPTS: "-javaagent:/jmx-exporter/jmx_prometheus_javaagent-0.20.0.jar=7777:/jmx-exporter/connect.yml"
    volumes:
      - ./plugins:/kafka/connect
      - ./jmx-exporter:/jmx-exporter:ro
