# ===========================
# Terraform
# ===========================
.terraform/
terraform/envs/vagrant/.terraform/
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info
*.tfplan
tfplan

# tfvars dosyaları (şifre içerir)
*.tfvars
*.tfvars.json

# Local override dosyaları
override.tf
override.tf.json
*_override.tf
*_override.tf.json


# ===========================
# Ansible
# ===========================
# Ansible cache
__pycache__/
*.retry

# SSH keys (her ihtimale karşı)
*.pem
*.key


# ===========================
# Python
# ===========================
__pycache__/
*.pyc
*.pyo
*.pyd

# venv
venv/
env/
.venv/


# ===========================
# Docker
# ===========================
# docker build outputs
*.tar
*.log
connect/docker/jmx-exporter/jmx_prometheus_javaagent-*.jar


# ===========================
# Vagrant / local VM
# ===========================
.vagrant/
terraform/envs/vagrant/Vagrantfile
terraform/envs/vagrant/.vagrant/
terraform/envs/vagrant/.vagrant.d/
*.box


# ===========================
# Prometheus / Grafana
# ===========================
# runtime data
alertmanager/data/
prometheus/data/
grafana/data/


# ===========================
# MacOS / Local
# ===========================
.DS_Store
Thumbs.db

# OneDrive junk
*.tmp
~$*
