# Burada alertmanager ayarlarını tutuyorum.
# Şimdilik basit bir config bıraktım, sadece Prometheus'tan gelen
# alarmları almak için yeterli. İleride Slack/Email webhook eklenebilir


global:
  resolve_timeout: 5m

route:
  receiver: "default"

receivers:
  - name: "default"
